body{
  background-color: lavender;
}
.app {
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paint {
  height: 550px;
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
}

.brush-selection {
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.palette-pic {
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 30px;
  margin-bottom: 2px;
}

.paint-colors{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
}

.palette-color{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right: 1px;
  margin-top: 1px;
}

.palette-icon{
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background-color: white;
  margin-right: 1px;
}

.brush-icon{
  height: 30px;
  width: 30px;
  border: solid 1px black;
}

.current-brush{
  height: 32px;
  width: 32px;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
  height: 500px;
  width: 500px;
  border: 2px solid black;
  margin-top: 1px;
}

.square {
  transition: 0.5s;
}

.color-1 {
  background-color: red;
}
.color-1DarkMode{
  background-color: darkred;
}

.color-2 {
  background-color: blue;
}
.color-2DarkMode{
  background-color: midnightblue;
}

.color-3 {
  background-color: yellow;
}
.color-3DarkMode{
  background-color: sandybrown;
}

.color-4 {
  background-color: palegreen;
}
.color-4DarkMode{
  background-color: seagreen;
}

.color-5 {
  background-color: brown;
}
.color-5DarkMode{
  background-color:sienna;
}

.color-6 {
  background-color: forestgreen;
}
.color-6DarkMode{
  background-color: darkolivegreen;
}

.color-7{
  background-color: orange;
}
.color-7DarkMode{
  background-color: darkorange;
}

.color-8{
  background-color: purple;
}
.color-8DarkMode{
  background-color: firebrick;
}

.color-9{
  background-color: olive;
}
.color-9DarkMode{
  background-color: darkgreen;
}

.color-10{
  background-color: cornflowerblue;
}
.color-10DarkMode{
  background-color: darkslateblue;
}

.color-11{
  background-color: rosybrown;
}
.color-11DarkMode{
  background-color: hotpink;
}

.color-12{
  background-color: teal;
}
.color-12DarkMode{
  background-color: darkturquoise;
}

.color-13{
  background-color: lightpink;
}
.color-13DarkMode{
  background-color: deeppink;
}

.color-14{
  background-color: deepskyblue;
}
.color-14DarkMode{
  background-color: darkcyan;
}

.color-15{
  background-color: blueviolet;
}
.color-15DarkMode{
  background-color: turquoise;
}

.color-16{
  background-color: palegoldenrod;
}
.color-16DarkMode{
  background-color:darkgoldenrod;
}

.color-17{
  background-color: indigo;
}
.color-17DarkMode{
  background-color: darkorchid;
}

.color-18{
  background-color: white;
}
.color-18DarkMode{
  background-color: slategray;
}

button{
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  border: solid black 2px;
  border-radius: 10px;
  background-color: gold;
}

button:hover{
  opacity: 0.3;
}

.buttonDarkMode{
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  border: solid black 4px;
  border-radius: 10px;
  background-color: palegoldenrod;
}

.bodyDarkMode{
  background-color: darkslateblue;
}

.palette-iconDarkMode{
  background-color: slategray;
}